[submodule "hugo/themes/cupper-hugo-theme"]
	path = hugo/themes/cupper-hugo-theme
	url = ../../zwbetz-gh/cupper-hugo-theme.git
[submodule "test/external/googletest"]
	path = test/external/googletest
	url = ../../google/googletest.git
